
.center {
	display: block;
	margin: auto;
	width: 15%;
	/*border: 3px solid green;*/
	padding: 10px;	
}

#cl {
	display: block;
	margin: auto;
	width: 15%;
	/*border: 3px solid green;*/
	padding: 9px;	
}

#cc {
	display: block;
	margin: auto;
	width: 15%;
	/*border: 3px solid green;*/
	padding: 6px;	
}

.botao {
	display: block;
	padding: 10px 40px;
	text-align: center;
}

.bg {
	background: #D6E6EC;

}

.head {
	background: #00A5DC;
	width: 99%;
	padding: 10px;
}

.voltar {
	margin:
}

.linha {
	border: 1px solid black;
	border-collapse: collapse;
}






















	
	
	