<!DOCTYPE HTML>

<html class="bg">

<head>
<link rel="stylesheet" href="estilo.css">
</head>

<h1 class="center"> Cadastrar Locacao </h1>

<form class="bg" action="..\controller\cadastroLocacao.php" method="post">
	<div class="center">
		<label for="n">Selecione a quantidade de livros que deseja locar:</label>
		<br><select id="n" name="dados">
			<option value=1>1</option>
			<option value=2>2</option>
			<option value=3>3</option>
			<option value=4>4</option>
			<option value=5>5</option>
		</select>
		
		<br><br><input type="submit" value="Pronto"><br>
		
	</div>

</form>

<br><br><button type="button" onclick="location.href='I_Inicial.html'"> Voltar </button>

</html>