<!DOCTYPE HTML>

<html>

<link rel="stylesheet" href="estilo.css">

<form class = "bg" action="..\controller\consultarLocacao.php" method="post">
	<h2> Como deseja a ordenacao da consulta? </h2>
	<div>
		<label for="dados">Ordenar por:</label>
		<select id="dados" name="dados">
			<option value="Id">Id</option>
			<option value="CpfCliente">Cpf</option>
			<option value="DataLimite">Data</option>
		</select>
	</div>
		
	<div>
		<label for="ord">De maneira:</label>
			
		<input type="radio" id="c" name="ord" value="ASC" checked="unchecked">
		<label for="c">Crescente</label>
		
		<input type="radio" id="d" name="ord" value="DESC">
		<label for="d">Decrescente</label>
	</div>
	
	<br><input type="submit" value="Pronto"><br>
	
	<br><br><button type="button" onclick="location.href='I_Inicial.html'">Voltar</button>
	<br><br>
	
</form>



</html>