<!DOCTYPE HTML>

<html class="bg">

<head>
<link rel="stylesheet" href="estilo.css">
<script src="teste.js"></script>
</head>

<h1 class="center head"> INICIO </h1>
<!-- ..\controller\inicial.php -->
<form class="bg">
	<div class="center">
		<h2> Cliente </h2>
		<button type="button" class="botao" onclick="location.href='I_CadastrarCliente.html'">Cadastrar</button> <br>
		<button type="button" class="botao" onclick="location.href='I_ConsultarCliente.html'">Consultar</button> <br>
	</div>
	
	<div class="center">
		<h2> Locacao </h2>
		<button class="botao">Cadastrar</button> <br>
		<button class="botao">Consultar</button> <br>
		<button class="botao">Alterar</button> <br>
		<button class="botao">Excluir</button> <br>
	</div>
	

</form>

<button type="button" onclick="location.href='I_Login.html'"> Voltar </button>

</html>