<!DOCTYPE HTML>

<html class="bg">

<header class="head">
	<h1 class="center">&nbsp;&nbsp;&nbsp;&nbsp; KIRIN </h1>
</header>

<head>
<link rel="stylesheet" href="estilo.css">
</head>

<form action="..\controller\login.php" method="POST">
	<img class="center" src="..\Images\logo.png">
	<div class="center">
		E-mail: <input type="text" name="lemail" maxlength="40" placeholder="Digite seu e-mail"> <br><br>
		Senha: <input type="password" name="lsenha" placeholder="Digite sua senha"> <br><br>
		<input type="submit" value="Logar">
	</div>
	
	<div>
		<button id="cc" type="button" onclick="location.href='I_Cadastro.html'">Cadastrar-se</button> <br><br>
	</div>
	
</form>


</html>